<%- include("./partial/header"); %>
<div class="container edit-view pt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-secondary mb-4 mb-lg-0">
            <h3 class="mb-4">Edit post</h3>
            <form action="?_method=PATCH" method="POST">
                <input type="hidden" value="<%= blog._id %>" name="id">
                <div class="form-group">
                    <label for="title">title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title" required
                        value="<%= blog.title; %>">
                </div>
                <div class="form-group">
                    <label for="kategori">kategori</label>
                    <input type="text" class="form-control" id="kategori" name="kategori" placeholder="kategori"
                        required value="<%= blog.kategori; %>">
                </div>
                <div class="form-group">
                    <label for="teks">teks</label>
                    <textarea id="teks" rows="7" class="form-control" name="teks"
                        placeholder="your post"><%= blog.teks; %></textarea>
                </div>
                <button type="submit" class="btn bg-my-primary btn-block">update</button>
            </form>
        </div>
    </div>
</div>
<%- include("./partial/footer"); %>